*.[oa]
*.l[ao]
*~
Makefile
Makefile.in
.deps
.libs
*.gtk

/m4
/configure
/config.rpath
/config.log
/depcomp
/compile
/config.guess
/config.h
/config.sub
/ltmain.sh
/ABOUT-NLS
/mkinstalldirs
/config.status
/stamp-h1
/config.h.in
/libtool
/autom4te.cache
/missing
/aclocal.m4
/install-sh
