/Rules-quot
/insert-header.sin
/Makevars.template
/POTFILES
/remove-potcdate.sin
/Makefile.in.in
/doldaconnect.pot
/stamp-po
/quot.sed
/en@quot.header
/en@boldquot.header
/boldquot.sed
/remove-potcdate.sed
/sv.gmo
